{{ define "main" }}

{{- partial "jumbotron.html" . }}

<section class="container-fluid episode-list">


  <div class = "col episode-list-header">
    <h2 class = "episode-list-header">All Episodes</h2>
  </div>

  <div class = "row">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "episode") }}
        {{ range $paginator.Pages }}
        {{ $.Scratch.Set "episode" .File.BaseFileName }}
          <div class="col-md-4">
            <div class="episode-image-homepage">
              <a href="{{ .Permalink }}">
                {{ if (where (readDir (printf "static/img/episode/")) "Name" ($.Scratch.Get "episode"))}}
                  {{ if (where (readDir (printf "static/img/episode/%s/" ($.Scratch.Get "episode" ))) "Name" "square.jpg") }}
                      <img src="/img/episode/{{.File.BaseFileName}}/square.jpg" class="img-fluid" alt="{{ .Title }}" />
                  {{ else }}
                    <img src="/episode/img/{{.File.BaseFileName}}.png" class="img-fluid" alt="{{ .Title }}" />
                  {{ end }}
                {{ else }}
                  <img src="/episode/img/{{.File.BaseFileName}}.png" class="img-fluid" alt="{{ .Title }}" />
                {{ end }}

              </a>
            </div>
            <div class="details">
              {{ title .Title }} (ADO{{ .Params.episode }})
            </div>

          </div>
        {{ end }}


  </div>

</section>
{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination">

    <ul class="pagination">
        {{ with $paginator.First }}
        <li class="page-item">
            <a href="{{ .URL }}" aria-label="First" class="page-link"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
        {{ end }}
        <li {{ if not $paginator.HasPrev }}class="disabled page-item"{{ end }}>
            <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" aria-label="Previous" class="page-link"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {{ range $paginator.Pagers }}
        <li {{ if eq . $paginator }}class="active page-item"{{ end }}><a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a></li>
        {{ end }}
        <li {{ if not $paginator.HasNext }}class="disabled page-item"{{ end }}>
            <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" aria-label="Next" class="page-link"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {{ with $paginator.Last }}
        <li class="page-item">
            <a href="{{ .URL }}" aria-label="Last" class="page-link"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}






{{- end -}}
