// put custom CSS and SCSS stuff in here

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-light {
  background-color: $color4;
}

.jumbotron-host {
  margin: auto;
  display: block;
}

a.subscribe-button {
  background-color: $color5;
  color: #fff;
  font-size: .75em;
  width: 225px;
}

div.subscribe-button {
  margin-top: 10px
}

@media only screen and (min-width: 768px) {
  a.subscribe-button {
    width: 300px;
    font-size: 1em;
  }


}

.episode-list-header {
  background-color: $color1;
  color: $color3;
}
div.episode-list-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

h2.episode-list-header {
  margin-bottom: 0;
}

.pagination {
  margin-top: 10px;
}
